:root{
    --color-white: #ffffff;
    --color-primary: #287bff;
}

.content__buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-column: 1 / 3;
}

.button__primary {
    min-width: 180px;
    width: auto;
    height: 52px;
    border-radius: 0px;
    background-color: var(--blue);
    border: 1px solid var(--white);
    cursor: pointer;
    font-weight: 600;
    color: var(--color-white);
    font-size: 18px;
    padding: 0 50px;
    border-radius: 5px;
}

.button__secondary {
    min-width: 180px;
    width: auto;
    height: 52px;
    border-radius: 0px;
    background-color: var(--white);
    border: 1px solid var(--blue);
    cursor: pointer;
    font-weight: 600;
    color: var(--blue);
    font-size: 18px;
    padding: 0 50px;
    border-radius: 5px;
}