*{
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    font-family: Roboto, sans-serif;
    line-height: 28px;
}

.login__content{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/login/bg-login.png);
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__modal {
    background-color: #ffffff;
    max-width: 360px;
    max-height: 450px;
    min-width: 360px;
    min-height: 300px;
    width: 40%;
    height: 50%;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    -webkit-box-shadow: 0px 0px 16px 13px rgb(130 130 130 / 60%);
    -moz-box-shadow: 0px 0px 16px 13px rgba(130, 130, 130, 0.6);
    box-shadow: 0px 0px 16px 13px rgb(130 130 130 / 60%);
}

.login__modal .login__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    row-gap: 8px;
    padding-right: 33px;
    padding-left: 33px;
    box-sizing: border-box;
}

.login__modal .login__controls img{
    height: 70px;
}

.login__modal .login__controls p {
    text-align: center;
}

.login__modal .login__controls div{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login__modal .login__controls label{
    text-align: left;
    color: #0055AA;
}

.login__modal .login__controls input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #828282;
    outline: none;
    height: 32px;
    font-size: 1rem;
}

.login__modal .login__controls input:focus {
    border-bottom: 2px solid #0055AA;
}

.recovery__password{
    text-decoration: none;
    color: #0056AC;
}